---
filebeat.prospectors:
- input_type: log
  paths:
    - /var/log/*.log
  document_type: syslog
  registry: /var/lib/filebeat/registry

output:
  elasticsearch:
    hosts: ["{{elk_hosts}}:9200"]
    setup.template.name: "filebeat"
    setup.template.fields: "/etc/filebeat/fields.yml"

setup:
  kibana:
    host: "{{kibana_hosts}}:5601"
